# Import all dependencies

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.utils import shuffle

# Shuffle the Datafram for randomization

In [6]:
df1 = pd.read_csv('/home/robin/technical_pattern_found.csv')
dataset_patterns = shuffle(df1)
dataset_patterns.reset_index(drop=True,inplace=True)

In [100]:
print(dataset_patterns.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233200 entries, 0 to 233199
Data columns (total 7 columns):
Pattern_Name    233200 non-null object
E1              233200 non-null float64
E2              233200 non-null float64
E3              233200 non-null float64
E4              233200 non-null float64
E5              233200 non-null float64
Days/Bars       233200 non-null int64
dtypes: float64(5), int64(1), object(1)
memory usage: 12.5+ MB
None

In [101]:
dataset_patterns.Pattern_Name = dataset_patterns.Pattern_Name.map({'TBOT':0,'IHS':1,'HS':2,'RTOP':3,'RBOT':4,
                                                                 'TTOP':5,'BTOP':6,'BBOT':7})
print(dataset_patterns.Pattern_Name.unique())

[2 7 3 1 4 0 5 6]

In [103]:
dataset_patterns.describe()

,Pattern_Name,E1,E2,E3,E4,E5,Days/Bars
count,233200.000000,233200.000000,233200.000000,233200.000000,233200.000000,233200.000000,233200.000000
mean,2.800287,1.139321,1.139314,1.139341,1.139291,1.139375,22.195150
std,1.343429,0.050031,0.050027,0.050028,0.050027,0.050026,7.601658
min,0.000000,1.035450,1.035230,1.035570,1.035230,1.034350,4.000000
25%,2.000000,1.105380,1.105350,1.105410,1.105360,1.105450,17.000000
50%,3.000000,1.136520,1.136540,1.136550,1.136520,1.136600,23.000000
75%,4.000000,1.175030,1.175030,1.175060,1.175010,1.175090,28.000000
max,7.000000,1.255410,1.255170,1.255300,1.255300,1.255300,35.000000

In [109]:
dataset_patterns.corr()

,Pattern_Name,E1,E2,E3,E4,E5,Days/Bars
Pattern_Name,1.000000,0.001532,-0.000048,0.001582,0.000354,-0.001532,0.001005
E1,0.001532,1.000000,0.999220,0.999202,0.999124,0.998291,-0.008119
E2,-0.000048,0.999220,1.000000,0.999877,0.999875,0.998990,-0.008049
E3,0.001582,0.999202,0.999877,1.000000,0.999885,0.999070,-0.008103
E4,0.000354,0.999124,0.999875,0.999885,1.000000,0.999090,-0.008116
E5,-0.001532,0.998291,0.998990,0.999070,0.999090,1.000000,-0.008043
Days/Bars,0.001005,-0.008119,-0.008049,-0.008103,-0.008116,-0.008043,1.000000

# Training the model
Now its time to train the model with our dataset. We are going to split the dataset into a trainset and testset using scipy's train_test_split function

In [112]:
X = dataset_patterns[['E1','E2','E3','E4','E5','Days/Bars']]
y = dataset_patterns['Pattern_Name']

In [113]:
from sklearn.model_selection import train_test_split

In [128]:
X_train, X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

# Calling the RandomForest Classifier
For more info on how this works, visit the scipy's documentation regarding different ML models. For our case and simplicity we are going to use Random Forest. You can get fancy with this and use Griddearch to find a model that fits with higher accuracy and optimized parameters and hyperparameters.

In [131]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=90)
model.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=90, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

# Model Result

In [132]:
model.score(X_test,y_test)

0.9034305317324185